# PostgreSQL
POSTGRES_DB=ppe_violations_db
POSTGRES_USER=admin
POSTGRES_PASSWORD=your_password
DB_ECHO=false

# RabbitMQ
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest

# Application ports
API_SERVER_PORT=8888
RABBITMQ_MANAGEMENT_PORT=15672

# Desktop client connection
CLIENT_API_HOST=localhost
CLIENT_RABBITMQ_HOST=localhost
CLIENT_RABBITMQ_PORT=5672